<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<header></header>
<main>
<div class="Aligner">
    <div class="Aligner-item">
        <h1>Nothing here for now…</h1>
    </div>
</div>
</main>
<footer></footer>
</body>
</html>
